@model BlackboxFest.Models.Concert
@if (Model.ArtistID!= null)
{


<div class="card bg-dark text-white ml-5 bottom-buffer" style="width: 10rem; height:6.6rem; background-color:white;opacity:0.8 ">



    <div class="d-flex justify-content-center mt-3">

        @if (User.IsInRole("Admin"))
        {
            <h6 class="m-2 card-title ColorGold">@Html.DisplayFor(modelitem => @Model.Artist.Name)</h6>

            <a class="m-2" asp-controller="Concert" asp-action="Edit" asp-route-id="@Model.Id"><img src="~/Images/EditlButton.png" asp-append-version="true" style="width:1em; height:1em;" /></a>



        }
        else

        {
           
                <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.Artist.Id" style="text-decoration: none;"><h6 class="card-title ColorGold">@Html.DisplayFor(modelitem => @Model.Artist.Name)</h6></a>
          
        }


    </div>

    <div class="d-flex justify-content-center">


            <h6 class="card-title ColorGold">@Model.TimeSlot.Hour</h6>
        </div>
</div>
}
else
	{
<div class="card  text-white ml-5 bottom-buffer" style="width: 10rem;height:6.4rem; background-color:red;opacity:0.5 ">



    <div class="d-flex justify-content-center mt-3">

        @if (User.IsInRole("Admin"))
        {
            <h6 class="m-2 card-title ColorGold">@Html.DisplayFor(modelitem => @Model.Artist.Name)</h6>

            <a class="m-2" asp-controller="Concert" asp-action="Edit" asp-route-id="@Model.Id"><img src="~/Images/EditlButton.png" asp-append-version="true" style="width:1em; height:1em;" /></a>



        }
        else

        {
           
                <h6 class="card-title ColorWhite">TBC</h6>
         
        }


    </div>

    <div class="d-flex justify-content-center">


        <h6 class="card-title ColorGold">@Model.TimeSlot.Hour</h6>
    </div>
</div>   
	}