@model BlackboxFest.ViewModels.ArtistViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AdminPagina.css" />

</head>
<body class="backgroundArtist">
    <h2 class=" d-flex justify-content-center">ARTISTS</h2>
    <div class="row mt-5 ">
        <div class="text-center ml-5">
            <form asp-controller="Artists" asp-action="SearchAdmin" method="get">
                <div class="form-actions ">
                    <p>

                        <input asp-for="EventSearch" placeholder="Search Artist" />
                        <input type="submit" value="Search" class="   btn kleurblauwGroen" />
                        <a class="ColorGold" asp-controller="Artists" asp-action="Index">Back to list</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-2"></div>

        <div class="table col-10 d-flex justify-content-center">

            <table class="table table-dark ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Artist.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Artist.ArtistShortDescription)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Artist.MusicGenre)
                        </th>

                        <th>
                            <a asp-action="Create"> <img src="~/Images/addButton.png" asp-append-version="true" style="width:2em; height:2em;" /></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Artists)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArtistShortDescription)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MusicGenre)
                            </td>

                            <td>

                                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/Images/EditlButton.png" asp-append-version="true" style="width:1.8em; height:1.8em;" /></a>




                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id"> <img src="~/Images/Icon material-delete.png" asp-append-version="true" style="width:1.8em; height:1.8em;" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <script src="~/js/scripts.js"></script>

</body>
</html>
